<!DOCTYPE html>
<html lang="en" ng-app="myApp" ng-controller="FacebookLikeCtrl">
  <% include head %>
  <body ng-cloak ng-class="{'background':activeCompany !=null, 'foreground_body':activeCompany==null}">
 <!--   <script>
  // Additional JS functions here
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '515228728516239', // App ID
      channelUrl : '//localhost/channel.html', // Channel File
      status     : true, // check login status
      cookie     : true, // enable cookies to allow the server to access the session
      xfbml      : true  // parse XFBML
    });

    // Additional init code here

  };

  // Load the SDK Asynchronously
  (function(d){
     var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement('script'); js.id = id; js.async = true;
     js.src = "//connect.facebook.net/en_US/all.js";
     ref.parentNode.insertBefore(js, ref);
   }(document));

</script> -->



    <section>
    
      <div id='fb-root'></div>
    
    </section>
 <nav class="menutop clearfix">
        
            <ul>
                <li><a href="*">?</a></li>
             

            </ul>
       
          

    </nav>
        
<section id="second" class="story" data-speed="4" data-type="background">
    <article>
      <article class="intro">
 <img src="../../images/logo.png">
    </article>
     <input ng-model="query" placeholder="Sök efter webbyrå...">
    </article>
  </section>
    

          
     




<aside id="example" class="modal " ng-class={'foreground_modal':activeCompany}>
    <div style="background-image: url('http://maps.googleapis.com/maps/api/staticmap?center={{activeCompany.location.latitude}},{{activeCompany.location.longitude}}&zoom=3&size=640x120&scale=2&maptype=hybrid&sensor=true');">
        <span class="poi">hej</span>
      <div class="companyinfo">
        
        <h1>{{activeCompany.name}}</h1>
        <ul class="stats">
            <li><p class="bignumber">{{activeCompany.likes}}</p> <p class="bignumberdesc">gillar</p></li>
            <li><p class="bignumber">{{activeCompany.followers_count}}</p> <p class="bignumberdesc">följare</p></li>
            <li><p class="bignumber">{{activeCompany.talking_about_count}}</p> <p class="bignumberdesc"> pratar om</p></li>
            <li><p class="bignumber">{{activeCompany.were_here_count}}</p> <p class="bignumberdesc"> var här</p></li>

        </ul>
        
       

        <p>{{activeCompany.about}}</p>

         <ul>
          <li><a href="{{activeCompany.website}}">Hemsida</a></li>
          <li><a href="{{activeCompany.link}}">Facebooksida</a></li>
          <li><a href="{{activeCompany.link}}">Visa på karta</a></li>

         <!-- <li>Twitter</li> -->
        </ul>
        

                <!-- this is the confusing part. we have to point the map marker directive
  at an existing google.maps.Marker object, so it can hook up events -->
<!--<div ng-repeat="marker in myMarkers" ui-map-marker="myMarkers[$index]"
  ui-event="{'map-click': 'openMarkerInfo(marker)'}">
</div>-->
 
<!--<div ui-map-info-window="myInfoWindow">
  <h1>{{currentMarker.name}}</h1>
    
</div>-->

                <!--<div id="map_canvas" ui-map="myMap" class="map"
                ui-event="{'map-click': 'addMarker($event)', 'map-zoom_changed': 'setZoomMessage(myMap.getZoom())' }"
              ui-options="mapOptions">
              </div>-->

       </div>


        <a href="#close" ng-click="activeCompany=null" title="Close">Close</a>
    </div>
</aside>



<section class="results hide" ng-class="{'show': companies.length > 0}">

  <ul>
    <li class="animated flipInX" >
      <table class="table table-striped">
   
            
             

              <tr ng-repeat="company in companies | filter:query | orderBy:orderProp:true">
              


              <td><a href="#example" ng-click="$parent.ShowCompanyInformationModal(company)" class="openModal">{{company.name}}</a></td>
              <td><i title="{{company.like_trend}} sedan igår" ng-class="{'icon-arrow-down': company.like_trend<0,'icon-arrow-up': company.like_trend>0, 'icon-arrow-right': company.like_trend==0}"></i></td>
              
            </tr>
          </tbody>
        </table>

      </li>
</ul>
</section>





<section class="case">
<ul>
      
      <li id="likes" class="animated flipInX">




          <h2 class="start">Gillar</h2>
          <p class="start">Topp 5</p>
          <table class="table table-striped">
            <% for(var i=0; i<pages.sort(function(a,b){return b.likes - a.likes;}).length; i++) {%>
              <% if (i < 5) { %>
                <tr><td><p class="order"><%= i+1 %></p></td><td><p class="company"><a href="<%=pages[i].website%>"><%= pages[i].name %></a></p></td><td><p class="numbers"><%= pages[i].likes %></p></td><td><img src="../../images/like.png"></td></tr>
              <% } %>
            <% } %>
          </table>
        



          </li>

      <li id="followers" class="animated flipInX">





         <h2 class="start">Följare</h2>
          <p class="start">Topp 5</p>
     

        <table class="table table-striped">

        

       <% for(var i=0; i<twitter_accounts.sort(function(a,b){return b.followers_count - a.followers_count;}).length; i++) {%>
              <% if (i < 5) { %>
                <tr><td><p class="order"><%= i+1 %></p></td><td><p class="company"><a href="<%=pages[i].website%>"><%= companies[twitter_accounts[i].screen_name.toLowerCase()].name %></a></p></td><td><p class="numbers"><%= twitter_accounts[i].followers_count %></p></td><td><img src="../../images/like.png"></td></tr>
              <% } %>
            <% } %>
          </table>



      </li>

      <li id="activeFans" class="animated flipInX">


      <h2 class="start">Aktiva fans</h2>
          <p class="start">Topp 5</p>
   



       <table class="table table-striped">

        

       <% for(var i=0; i<pages.sort(function(a,b){return b.talking_about_count - a.talking_about_count;}).length; i++) {%>
              <% if (i < 5) { %>
                <tr><td><p class="order"><%= i+1 %></p></td><td><p class="company"><a href="<%=pages[i].website%>"><%= pages[i].name %></a></p></td><td><p class="numbers"><%= pages[i].talking_about_count %></p></td><td><img src="../../images/like.png"></td></tr>
              <% } %>
            <% } %>
          </table>
   


    </li>

      <li id="wasHere" class="animated flipInX">


          <h2 class="start">Var här</h2>
          <p class="start">Topp 5</p>
         <table class="table table-striped">
        <thead>
          <tr>
            <th>Antal</th>
            <th>Företag</th>
            
          </tr>
        </thead>
        <% for(var i=0; i<pages.sort(function(a,b){return b.were_here_count - a.were_here_count;}).length; i++) {%>
          <% if (i < 10) { %>
            <tr><td><%= pages[i].were_here_count %></td><td><a href="<%=pages[i].website%>"><%= pages[i].name %></a></td></tr>
          <% } %>
        <% } %>
      </table>



      </li>

      <li id="checkins" class="animated flipInX">



    <h2 class="start">Incheckingar</h2>
          <p class="start">Topp 5</p>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Antal</th>
            <th>Företag</th>
            
          </tr>
        </thead>
        <% for(var i=0; i<pages.sort(function(a,b){return b.checkins - a.checkins;}).length; i++) {%>
          <% if (i < 10) { %>
            <tr><td><%= pages[i].checkins %></td><td><a href="<%=pages[i].website%>"><%= pages[i].name %></a></td></tr>
          <% } %>
        <% } %>
      </table>

      </li>

     <li class="animated flipInX">

      <h2 class="start">Var jobbar dina vänner?</h2>
        
      <button class='btn' ng-click="Facebook.login()">Connect with Facebook</button>  
      <div ng-show="Facebook.getAuth()">
      <!--  <h4>Access Token:</h4>
        <p ng-bind="Facebook.getAuth().accessToken"></p>-->
      <button class='btn btn-small' ng-click="Facebook.logout()">Logout</button>
      <table class="table table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Företag</th>
                  <th>Vänner</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="like in companies | filter:query | orderBy:talkingAboutCount:true" ng-class="{hide : $index>9}">
                  <td>{{$index+1}}</td>
                  <td>{{like.name}}</td>
                  <td>{{like[talkingAboutCount]}}</td>
                </tr>
              </tbody>
            </table>

  </li>

</ul>
  

       

</section>




    <% include foot %>  

  </body>
</html>